<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Add Tag</title>
</head>
<body>

    <center>
        <h1>Form Add Tag</h1>
        <br>
        <form action="/tags" method="post">
            <p>
                <label>Name Tag</label>
                <input type="text" name="nameTag">
            </p>

            <input type="submit" value="Add">
        </form>
    </center>
    
</body>
</html>